*{
    overflow-x: hidden;
    font-family: "Work Sans", sans-serif;
    
}


.HeaderLogo {
    height: 44px ;
    width: 44px;
}

.HeaderLinks{
    font-weight: 800;
    font-size: larger;
}

.navbar{
    height: 50px;
    scrollbar-width: none;
}

.parentDiv{
    vertical-align: middle;
}

.InputSearch{
width: 300px;
height: 40px;
margin-right: 10px;
border-radius: 30px;
border: solid 1px rgb(145, 144, 144);
font-size: 13px;
padding: 13px;
}

.SearchBtn{
border: none;
height: 40px;
width: 80px;
border-radius: 30px;
padding: 4px;
}

.journeyTable{
    scrollbar-width: none;
}

.audienceTable{
    scrollbar-width: none;
}

.TotalDiv{
    /* border: solid black 1px; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /* width: 300px; */
}
.TableDiv1{
    scrollbar-width: none;
    border-radius: 10px; 
}

.TableDiv{
    border: solid 1px rgba(105, 104, 104, 0.39);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    scrollbar-width: none;

}
.concentRow{
    scrollbar-width: none;
text-decoration: underline; 
color: rgb(222, 207, 227);
text-decoration-color: rgb(17, 0, 0);
}

.table{
    padding: 10px;
}

.countDiv{
    text-align: center;
    font-weight: 700;
    font-size:30px ;
}

.tableHead{
    font-size: 13px;
    text-align: start;
    margin-left: 10px;
}

.cardTitle{
    color: black;
    font-size:13px;
}

span{
    font-weight: 600;
}

/* div.container{
   
    padding: 7px;
} */

li:hover{
    text-decoration: underline;
}
/* li:active{
    background-color: green;
} */
.page-item.active{
    background-color:rgb(97, 53, 179)
}

.templateimg{
height : 50px;
}
.questlogo{
    height: 40px;
}

input.inputBox {
    width: 300px;
    font-size: 17px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;
  }
  
  .inputContainer {
    display: inline-block;
    position: relative;
  }
  .react-date-range__input {
    overflow: hidden;
} 
  .calendarElement {
    border: 1px solid #ccc;
    overflow-y: hidden;
    scrollbar-width: none;
    max-height: none;
  }

  .calenderElement::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

  .react-date-range__month {
    max-height: 100%; /* Ensure the calendar fits in the modal */
    overflow: hidden; /* Hide overflow to remove scroll */
  }
  
  .react-date-range__calendar {
    max-width: 100%; /* Fit the calendar content within the modal */
    overflow: hidden; /* Hide overflow to remove scroll */
  }
  
  .personaLabel{
    display: block;
  }
  .personaInput{
    display: block;
    width: 270px;
    border-radius:7px;
    margin-bottom: 7px;
  }
   
  .modalDateRange{
    margin-top: auto;
    margin-bottom: auto;
  }
  .rdrDayNumber{
    scrollbar-width: none;
  }

  .page-item-active{
    background-color:rgb(203, 203, 203);
    color: rgb(17, 17, 17);
    font-weight: 700;
  }
  .page-item{
    color: rgb(17, 17, 17);
    font-weight: 700;
  }

  